@media (max-width: 950px) {
    .navigation-menu .menu-list {
        display: none;
    }

    .menu-hamburger {
        display: block;
    }

    .dark-fon::before,
    .dark-fon::after,
    .light-fon::before,
    .light-fon::after {
        max-width: 500px;
        max-height: 500px;
    }

    .wrap-skill {
        flex-direction: column;
        align-items: center;
    }

    .wrap-skill .soft-item:nth-child(1) {
        margin-top: 50px;
    }
}

@media (min-width: 950px) {
    .hamburger-menu-list {
        right: -100%;
    }
}



@media (max-width: 450px) {
    .navigation-menu .logo a {
        display: none;
    }
}

@media (max-width: 1230px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
    }

    .map iframe {
        width: 100vw;
    }
}

@media (max-width: 1000px) {
    .items {
        flex-direction: column;
    }

    .dots {
        bottom: 50px;
    }
    
}

@media (max-width: 1400px) {
    .dark-fon::before,
    .dark-fon::after,
    .light-fon::before,
    .light-fon::after {
        width: 600px;
        height: 600px;
    }

    section:nth-child(2) {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .my-image {
        width: 95%;
    }
}