/* Defaults option */
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
    font-family: 'Comfortaa', cursive;

    scroll-behavior: smooth;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    background-color: #000000;
}

.wrap {
    position: relative;
    max-width: 1920px;
    margin: auto;    
    overflow: hidden;
}


/* Navigation menu */
.navigation-menu {
    position: fixed;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 83px;
    padding: 0 5%;

    border-bottom: 1px solid #FFFFFF;
    background-color: #2C2C2C;
    user-select: none;
}

.navigation-menu .logo {
    display: flex;
    align-items: center;
}

.navigation-menu .logo img {
    cursor: pointer;

    width: 45px;
    height: 45px;
    margin-right: 30px;
}

.navigation-menu .logo a {
    font-size: 30px;
    color: #FFFFFF;
}

.menu-list a,
.hamburger-menu-list a {
    position: relative;

    font-size: 20px;
    margin: 0 15px;
    color: #FFFFFF;
}

.navigation-menu .menu-list a::before,
.hamburger-menu-list a::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;

    border-bottom: 1.7px solid #FFFFFF;
    width: 0%;
    transition: all .3s ease-out;

    content: "";
}

.navigation-menu .menu-list a:hover::before,
.hamburger-menu-list a:hover::before {
    width: 100%;
}

/* Hamburger menu */
.menu-hamburger {
    display: none;
}

.hamburger-btn {
    position: relative;
    
    width: 30px;
    height: 20px;

    cursor: pointer;
}

.hamburger-btn span {
    position: absolute;
    top: 0;

    width: 100%;
    height: 2px;

    background-color: #FFFFFF;
    transition: all .5s ease-out;
}

.hamburger-btn span:nth-child(2) {
    top: 10px;
}

.hamburger-btn span:nth-child(3) {
    top: 20px;
}

.hamburger-menu-list {
    position: fixed;
    right: -100%;
    z-index: -1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 320px;
    height: 100%;

    background-color: #2C2C2C;
    transition: all .5s ease-out;
}

.hamburger-menu-list a {
    margin: 15px 0;
}

.active-menu-list {
    right: 0;
}

.active-menu-btn span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
}

.active-menu-btn span:nth-child(2) {
    transform: translateX(100px);
    opacity: 0;
}

.active-menu-btn span:nth-child(3) {
    top: 50%;
    transform: rotate(45deg);
}

/* Section */

section {
    position: relative;

    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}


/* Decorative elements */

.dark-fon,
.light-fon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: #2C2C2C;
    overflow: hidden;
}

.light-fon {
    background-color: #FFFFFF;
}

.dark-fon::before,
.dark-fon::after,
.light-fon::before,
.light-fon::after {
    position: absolute;
    z-index: -1;

    width: 800px;
    height: 800px;

    border-radius: 50%;
    background-color: #474747;

    content: "";
}

.light-fon::before,
.light-fon::after {
    background-color: #EBEBEB;
}

.dark-fon::before {
    bottom: -10%;
    left: -10%;
}

.dark-fon::after {
    right: -10%;
    top: -10%;
}

.light-fon::before {
    top: -10%;
    left: -10%;
}

.light-fon::after {
    right: -10%;
    bottom: -10%;
}


/* Slider */

.wrap-slider {
    position: relative;
    overflow: hidden;
}


.wrap-slider .slides {
    display: flex;

    position: relative;
    width: 100%;
    height: 100vh;
}

.items {
    position: relative;
    min-width: 100%;
    height: 100%;
    padding: 100px 5%;

    display: flex;
    justify-content: space-between;
    transition: all .5s ease-out;
}

.items img {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.items .filter {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);;
}


.items .description h1 {
    max-width: 800px;
    margin-bottom: 20px;
    font-size: 40px;
    color: #FFFFFF;
}

.items .description p {
    font-size: 20px;
    max-width: 700px;
    color: #FFFFFF;
}

.items .project-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project-link button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;

    background-color: transparent;
    border: 1px solid #FFFFFF;
    transition: all .5s ease-out;
    
}

.project-link button a {
    color: #FFFFFF;
}

.project-link button:hover {
    background-color: #FFFFFF;
}

.project-link button:hover > a {
    color: #000000;
}

.dots {
    display: flex;

    position: absolute;
    left: 5%;
    bottom: 100px;
}

.dots span {
    height: 3px;
    width: 30px;

    background-color: #FFFFFF;
    margin: 0 10px;
    transition: all .5s ease-out;
}

.dots span:hover {
    background-color: #C1C1C1;
}

.dots .dots-active {
    background-color: #C1C1C1;
    transform: translateY(-10px);
}

/* My information */
section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 100px 5%;
}

.my-image {
    margin: 20px 0;
    width: 500px;
    height: 600px;

    background-image: url("../images/IMG_20210908_164104 (1).jpg");
    background-size: cover;
    background-position: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-me div p,
.about-me div h1 {
    max-width: 700px;
    color: #FFFFFF;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 5%;

    width: 100%;
    min-height: 480px;

    color: #000000;
    background-color: #FFFFFF;
}

footer .contacts {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}


/* Social image */
.contacts .social a img {
    width: 40px;
    height: 40px;

    margin-right: 20px;
    transition: all .3s ease-out;
}

.contacts .social a img:hover {
    transform: scale(1.17);
}


/* Gmail */
.contacts h2 {
    font-size: 20px;
    margin: 20px 0 5px 0;
}